@media screen and (max-width:700px) {
section{
    padding: 5px 15px!important;
}
input{
    padding: 15px !important;
}
.row{
    grid-template-columns: auto !important;
}
.d-flex{
    flex-direction: column;
    box-sizing: border-box;
}
}